body {
	color:lightgray;
	background-color: #601E9E;
	font-family: 'Raleway', sans-serif;
	padding:0;
	margin: 0;
}


.menu ul {
	list-style: none;
	display:flex;
	justify-content: space-between;
	margin-left: -20px;


}

.people-menu {
	display:flex;
	padding-right: 10px;
}

.menu li {
	padding: 10px 20px;

}



.menu a {
		text-decoration: none;
		color:darkgrey;

}

.menu a:hover {
	color:white;
}




.overview, footer {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;

}

h1 {
	font-size: 80px;
	margin: 10px;
	text-transform: uppercase;
}

.people, .about-me, .fun-fact, .content, .contact {
	width:60vw;
	background-color: ghostwhite;
	margin: 30px;
	border-radius: 10px

}

h2 {
	margin: 0;
	color:blueviolet;
	text-transform: uppercase;
}

.excerpt {
	padding: 40px 40px ;
	color:#323232;
	

}

.excerpt:not(:last-child), .experience:not(:last-child) {
	border-bottom:solid;
	border-bottom-width: thin;
	border-bottom-color: #601E9E;
}

a {
	text-decoration: none;
	color:blue;
}

a:hover {
	color:blueviolet;
}

footer {
	margin-bottom: 20px;
}

h1 {
	font-size: 100px;
	text-align: center;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
}


.about-me, .fun-fact, .content , .contact{
	margin: 10px auto;
	padding: 40px;
	color:#323232;
}

.experience:not(:last-child) {
	padding-bottom: 20px;
}

.about-me {
	margin-top: 35px;
}

.content {
	background-color: #2E0050;
	color:white;
}



@media (max-width: 700px) { 
	h1 {
		font-size: 60px;
	}

	
	.menu ul {
	
	align-items: center;
	display: flex;
	flex-direction: column;
	
	}

	.overview, footer {
		margin-left: 0;
		margin-right: 0;
	}

	.people {
		width: 90vw;
	}


}

