body {
	color: white;
	background-color: #F7F0DB;
	font-family: 'Raleway', sans-serif;
	padding:0;
	margin: 0;
}

.menu ul {
	list-style: none;
	display:flex;
	justify-content: space-between;
	margin-left: -20px;
}

.menu li {
	padding: auto auto;
}

.menu a {
	font-size: 18px;
	text-decoration: none;
	color: white;
}

.menu-home{
	padding-left: 20px;
}

.overview, footer {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

h1 {
	font-size: 90px;
	text-align: center;
	margin: 40px;
	text-transform: uppercase;
}

h2 {
	font-size: 32px;
	color:#ee6e73;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

.excerpt, .fun-fact, .content, .about-me, .contact {
	width:60vw;
	background-color: ghostwhite;
	margin: 30px;
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
					box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	border-radius: 10px
}

.excerpt {
	padding: 40px 40px ;
	margin: 20px auto;
	color:#323232;
}

.content ul:not(.browser-default) > li {
  list-style-type:circle;
	margin-left: 40px;
}
.experience:not(:last-child) {
	border-bottom:solid;
	border-bottom-width: thin;
	border-bottom-color: #55C0BE;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #55C0BE;
}

a:hover {
	text-decoration: underline;
}

footer {
	margin-bottom: 20px;
}

.about-me, .fun-fact, .content , .contact{
	margin: 10px auto;
	padding: 40px;
	color:#323232;
}

.experience:not(:last-child) {
	padding-bottom: 20px;
}

.about-me {
	margin-top: 35px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	height: auto;
	border-radius: 10px
}

figcaption{
	text-align: center;
	color: black;
	font-style: italic;
}

.home-photo{
	width:30%;
}

@media (max-width: 700px) {
	h1 {
		font-size: 60px;
	}

	.menu ul {
	align-items: center;
	display: flex;
	flex-direction: column;
	}

	.overview, footer {
		margin-left: 0;
		margin-right: 0;
	}

	.content {
		width: 90vw;
	}
}
